.markdown h1 {
  font-size: 2em;
  font-weight: 500;
  color: #000;
}

.markdown h2 {
  font-size: 1.75em;
  font-weight: 500;
  color: #000;
}

.markdown h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
}

.markdown blockquote {
  padding: 0 24px;
  background-color: #f4f5f7;
  border-radius: 8px;
  margin-top: 16px;
}
